@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik", sans-serif;
}


/* @import "tailwindcss"; */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  .custom-template .custom-toggle {
    position: fixed;
    max-width: 32rem;
    height: auto;
    padding: 5px;
    top: 35%;
    z-index: 1000;
    right: 0px;
    background: #0c0c0c !important;
    font-weight: bold;
    color: white !important;
    text-align: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 18px;
  }

  @media screen and (max-width: 768px) {
    .custom-template .custom-toggle {
      font-size: 14px;
      padding: 5px;
      top: 27%;
    }
  }
